body {
    padding: 0;
    margin: 0;
    background-color: #F2EFE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.navbar-wrapper {
    display: flex;
    height: 8%;
    width: 100%;
    background-color: transparent;
    border-bottom: 3px solid #d7d8c6;
    padding: 0;
    margin: 0;
}

.navbar-wrapper .navbar-list {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    background-color: transparent;
    height: 100%;
    margin: 0;
}

.navbar-list .navbar-item {
    height: 100%;
    background-color: transparent;
    display: flex;
    text-decoration: none;
}

.link {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    color: #919789;
}

.link:visited {
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #d7d8c6;
}

.info-wrapper {
    width: 100%;
}

.info-wrapper p {
    margin-left: 30px;
    color: #919789;
}
