<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Med System</title>
    <link th:href="@{/styles/help.css}" rel="stylesheet" />
</head>
<body>
<div class = "main-wrapper">
    <div class="header-wrapper">
        <div class="line"></div>
        <div class="logo-container">
            <img th:src="@{/images/logo-med.png}">
        </div>
        <div class="line"></div>
    </div>
    <div class="back-wrapper">
        <a th:href="@{home}">НАЗАД</a>
    </div>
    <div class="text-wrapper">
        <div class="text-aligner">
            <h2>- Начало эксплуатации системы</h2>
            <span>
                    Для начала эксплуатации системы необходимо выполнить вход в систему,
                    введя <b>логин</b> и <b>пароль</b>, выданный пользователю доверенным лицом.
                </span>
            <h2>- Главное меню</h2>
            <span>
                    В гланом меню имеются опции <b>РАБОТА, АРХИВ, ПОМОЩЬ</b> и <b>ОБРАТНАЯ СВЯЗЬ</b>.
                </span>
            <h2>- Опция РАБОТА</h2>
            <span>
                    Опция предоставляет возможность использовать данные о пациентах:
                    <ul>
                        <li><b>Ввести данные нового пациента</b></li>
                        <li><b>Получить данные о пациенте</b> (по его ФИО)</li>
                        <li><b>Получить данные о пациенте с нарушение моторных функций</b></li>
                        <li><b>Получить данные о рекомендациях для пациента</b> (по его ФИО)</li>
                    </ul>
                </span>
            <h2>- Опция АРХИВ</h2>
            <span>
                    Опция позволяет просматривать данные о <b>пациентах, диагнозах, ТРС</b> и <b>уровнях GMFCS</b>.
                </span>
            <h2>- Опция ПОМОЩЬ</h2>
            <span>
                    Опция предоставляет информацию о функционале системы.
                </span>
            <h2>- Опция ОБРАТНАЯ СВЯЗЬ</h2>
            <span>
                    Опция предоставляет данные о возможностях связаться с разработчиком системы.
                </span>
        </div>
    </div>
</div>
</body>