<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Med System</title>
    <link th:href="@{/styles/home.css}" rel="stylesheet" />
</head>
<body>
    <div class = "main-wrapper">
        <div class = "navbar-wrapper">
            <ul class="navbar-list">
                <li class="navbar-item"><a>Личный кабинет</a></li>
                <li class="navbar-item"><a>Работа</a></li>
                <li class="navbar-item"><a>Архив</a></li>
                <li class="navbar-item"><a>Помощь</a></li>
                <li class="navbar-item"><a>Обратная связь</a></li>
            </ul>
        </div>
        <div class="info-wrapper">
            <p>ФИО: </p>
            <p>Должность: </p>
        </div>
    </div>
</body>